<!doctype html>
<html>
<head>
  <title>Live Code Samples</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="static/stylesheets/normalize.css" />
  <link rel="stylesheet" href="static/stylesheets/foundation.css" />
  <link rel="stylesheet" href="static/stylesheets/dataTables.foundation.css" />
  <link rel="stylesheet" href="static/stylesheets/colors.css" />
  <link rel="stylesheet" href="static/stylesheets/styles.css" />
  
  <script src="static/javascripts/modernizr.js"></script>
</head>
<body>

<div class="row">
  <div class="large-12">
  
  {{ content }}
  
  </div>
</div>

	<script src="static/javascripts/jquery.js"></script>
	<script src="static/javascripts/foundation.js"></script>
	<script src="static/javascripts/foundation.reveal.js"></script>
	<script src="static/javascripts/jquery.dataTables.min.js"></script>
	<script src="static/javascripts/dataTables.foundation.js"></script>

</body>
</html>
